{* Latte template *}

{block content}
	Váš účet byl aktivován. Můžete se přihlásit <a n:href="Sign:in">zde</a>
{/block}
{block breadcrumbs}
		<li><a n:href="Homepage:">Domů</a></li>
		<li class="active">Aktivovat</li>
{/block}