{* Latte template *}

{block content}
{form sendCode class => 'form-inline'}
		<div class="form-group">
			{label email class=>'sr-only'/}
			{input email class=>'form-control', placeholder => 'john.doe@example.com'}
		</div>
		{input edit, class=>'btn btn-primary'}		  
	{/form}
{/block}

{block breadcrumbs}
		<li><a n:href="Homepage:">Domů</a></li>
		<li class="active">Zaslat aktivační kód</li>
{/block}